.App {
  min-height: 100vh;
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.search-form {
  min-height: 10vh;
  display: flex; 
  text-align: center;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #29323c;
  border: none;
  padding: 10px 20px;
  color: white;
  font-family: 'Zhi Mang Xing', cursive;
  font-family: 'Molle', cursive;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  color: #29323c;
  font-weight: bold;
  font-family: 'Zhi Mang Xing', cursive;
  font-family: 'Molle', cursive;
  padding-top: 5%;
}

.sub-title {
  text-align: center;
  color: #29323c;
  font-weight: bold;
  font-family: 'Zhi Mang Xing', cursive;
  font-family: 'Molle', cursive;
  font-family: 'Amatic SC', cursive;
}

.image {
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  /* opacity: 0.5; */
 
}


